<% if @posts.any? %>
  <% @posts.each do |post| %>
    <h2> <%= post.name %> </h2>
    <h2> <%= post.caption %> </h2>
  <% end %>
<% else %>
  You have no posts yet
<% end %>

<a href='#'>Add a new photo or video</a>
